@using DomowaBiblioteczka.Data
@using DomowaBiblioteczka.Data.Models
@using DomowaBiblioteczka.Services.Medias
@using Microsoft.AspNetCore.Authorization
@using static DomowaBiblioteczka.Globals


@inject DialogService DialogService
@inject IMediasService mediaService

@attribute [Authorize(Roles = "User,Admin")]

@rendermode InteractiveServer

@page "/MediasList"

<PageTitle>List of Medias</PageTitle>

@if (isLoading)
{
    <div class="rz-text-align-center">
        <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" />
        <p>Loading data...</p>
    </div>
}
else
{@*
    <div class="rz-p-12 rz-text-align-center" style="width: 100%;">
        <RadzenDataGrid Data="mediaList"
                        AllowFiltering="true"
                        FilterMode="FilterMode.Simple"
                        AllowSorting="true"
                        AllowPaging="true"
                        PageSize="25"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true"
                        @ref=mediaGrid>

            <HeaderTemplate>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add New Order" Click="@InsertRow" Disabled="@(editing)" />
            </HeaderTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="MediaSection" Property="Name" Title="Name" Sortable="true" Filterable="true">
                    <EditTemplate Context="mediaSection">
                        <RadzenTextBox @bind-Value="mediaSection.Name" MaxLength="200" Style="width: 100%" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="MediaSection" Property="Position" Title="No" Sortable="true" Filterable="true">
                    <EditTemplate Context="mediaSection">
                        <RadzenNumeric Min="1" @bind-Value=@mediaSection.Position Style="width: 100%" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="MediaSection" Property="Media.Title" Title="Related Media" Sortable="true" Filterable="true">
                    <EditTemplate Context="mediaSection">
                        <RadzenDropDown @bind-Value="mediaSection.MediaId" Data="@mediaList" TextProperty="Title" ValueProperty="Id" Style="width:100%; display: block;" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Edit" Width="100px" MinWidth="100px">
                    <Template Context="mediaSection">
                        <RadzenButton Icon="Edit" ButtonStyle="ButtonStyle.Primary" Click=@(args => OnClick(Operations.ChangeMode,mediaSection)) />
                    </Template>
                    <EditTemplate Context="mediaSection">
                        <RadzenButton Icon="Check" ButtonStyle="ButtonStyle.Success" Click=@(args => OnClick(Operations.Edit,mediaSection)) />
                        <RadzenButton Icon="Close" ButtonStyle="ButtonStyle.Warning" Click=@(args => OnClick(Operations.Cancel,mediaSection)) />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Title="Del" Width="75px" MinWidth="50px">
                    <Template Context="mediaSection">
                        <RadzenButton Icon="Delete" ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClick(Operations.Delete,mediaSection)) />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>*@
}

@code
{
    private IEnumerable<Media> mediaList;

    private RadzenDataGrid<Media> mediaGrid;
    private DataGridEditMode editMode = DataGridEditMode.Single;
    private Media originalMedia;

    private bool isLoading = true;
    private bool editing = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        await InitializeData();

        isLoading = false;

        await base.OnInitializedAsync();
    }

    private async Task InitializeData()
    {
        mediaList = await mediaService.GetAllAsync();
    }

    async Task InsertRow()
    {
        var order = new Media();
        await mediaGrid.InsertRow(order);
    }

    private async Task OnClick(Operations operationType, Media media)
    {
        if (operationType == Operations.Edit)
        {
            //TODO: Implement UI side validation

            if (mediaList.Any(a => a.Id.Equals(media.Id)))
            {
                await mediaService.UpdateAsync(media);
            }
            else
            {
                await mediaService.AddAsync(media);
                await InitializeData();
            }
            await mediaGrid.UpdateRow(media);
            editing = false;
            //TODO: Implement pop up about succeded operation or fail
        }

        if (operationType == Operations.Cancel)
        {
            mediaGrid.CancelEditRow(originalMedia);
            await InitializeData();
            editing = false;
        }

        if (operationType == Operations.ChangeMode)
        {
            originalMedia = media;
            editing = true;
            await mediaGrid.EditRow(media);

        }

        if (operationType == Operations.Delete)
        {
            var result = await DialogService.Confirm(
           "Are you sure?",
           $"Delete: {media.Title}",
           new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" }
       );
            if (result == true)
            {
                await mediaService.DeleteAsync(media.Id);

                await InitializeData();
            }
        }
    }

}